-c https://raw.githubusercontent.com/apache/airflow/constraints-2.11.0/constraints-3.11.txt
apache-airflow[celery, postgres, redis, cncf.kubernetes]==2.11.0
alembic
airflow-provider-alembic==1.0.0
elementpath==4.4.0
