interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: http://ysvic-01651.cern.ch/a3dpc/api/export_occupancy/json?start=20241210&end=20241211&resolution=hour
    response:
      body:
        string: '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

          <html><head>

          <title>401 Unauthorized</title>

          </head><body>

          <h1>Unauthorized</h1>

          <p>This server could not verify that you

          are authorized to access the document

          requested.  Either you supplied the wrong

          credentials (e.g., bad password), or your

          browser doesn''t understand how to supply

          the credentials required.</p>

          </body></html>

          '
      headers:
        Content-Type:
          - text/html; charset=iso-8859-1
        WWW-Authenticate:
          - Digest realm="AXIS_B8A44F2F0694", nonce="w1p18o4tBgA=d3233f355723e2ef441854b4bc41a36e159a98b2",
            algorithm=MD5, qop="auth"
      status:
        code: 401
        message: Unauthorized
  - request:
      body: null
      headers:
      method: GET
      uri: http://ysvic-01651.cern.ch/a3dpc/api/export_occupancy/json?start=20241210&end=20241211&resolution=hour
    response:
      body:
        string:
          '{"data":[{"start":"2024-12-10 00:00:00","end":"2024-12-10 01:00:00","peak":2},{"start":"2024-12-10
          01:00:00","end":"2024-12-10 02:00:00","peak":1},{"start":"2024-12-10 02:00:00","end":"2024-12-10
          03:00:00","peak":1},{"start":"2024-12-10 03:00:00","end":"2024-12-10 04:00:00","peak":0},{"start":"2024-12-10
          04:00:00","end":"2024-12-10 05:00:00","peak":0},{"start":"2024-12-10 05:00:00","end":"2024-12-10
          06:00:00","peak":0},{"start":"2024-12-10 06:00:00","end":"2024-12-10 07:00:00","peak":0},{"start":"2024-12-10
          07:00:00","e[...]
