name: Python application test with pytest
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  AIRFLOW_HOME: /home/runner/work/bi-dags/bi-dags
  REGISTRY: registry.cern.ch
  IMAGE: cern-sis/bi-dags

jobs:
  build_test:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Python 3
        uses: actions/setup-python@v4
        with:
          python-version: 3.10.11

      - name: Build Image
        id: build
        uses: cern-sis/gh-workflows/.github/actions/docker-build@v6
        with:
          registry: ${{ env.REGISTRY }}
          image: ${{ env.IMAGE }}
          tags: |
          type=ref,event=branch
          type=ref,event=pr
          cache: false
          username: ${{ secrets.HARBOR_USERNAME }}
          password: ${{ secrets.HARBOR_PASSWORD }}

      - name: Run tests with pytest and generate report
        run: >
          docker run
          --name biproject
          --network=host
          -v "$(pwd)"/tests:/opt/airflow/tests
          --entrypoint pytest
          $REGISTRY/$IMAGE@${{ steps.build.outputs.image-digest }}
          tests
          --cov=./
          --cov-report=xml

      - name: Copy test coverage file to host machine
        run: docker cp biproject:/opt/airflow/coverage.xml .

      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          verbose: true

      - name: Deploy QA
        if: ${{ github.event_name == 'push' }}
        uses: cern-sis/gh-workflows/.github/actions/kubernetes-project-new-images@v6
        with:
          event-type: update
          images: ${{ env.REGISTRY }}/${{ env.IMAGE }}@${{ steps.build.outputs.image-digest }}
          token: ${{ secrets.PAT_FIRE_EVENTS_ON_CERN_SIS_KUBERNETES }}
